src/main/mule/todaythree.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4a5a6230-bf1e-49d4-869b-fd06712d7439" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="todaythreeFlow" doc:id="cebd59f2-7ede-47de-98ab-5cf03003b51e" >
		<http:listener doc:name="Listener" doc:id="265ef0a9-966b-4018-b5ae-d4327152e962" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Success"]' doc:name="Set Payload" doc:id="2804da56-41cd-4a58-9cdf-1b5ffe70ddb8" />
	</flow>
</mule>
